

img(src='http://realtimecats.com/cat_photos/3ba670686e7111e181bd12313817987b_7.png', width='100%')

h3 Realtime cat

P I'm watching you as you work with Node.js

p To edit this sidebar, open /views/sidebar.jade on your computer.

p Type jade into the file and hit save!