
a(href='https://en.wikipedia.org/wiki/File:Angostura_aromatic_bitters_dD.jpg')
  img(src='/images/bitters.jpg', width='100%', class='profile')

h3 Realtime cat

P I'm watching you as you work with Node.js

p To edit this sidebar, open /views/sidebar.jade on your computer.

p Type jade into the file and hit save!