
img(src='/images/bitters.jpg', width='100%', class='profile')

h3 Bitters

p Bitters is a simple-as-possible Git-based website built with Express, Jade, and Stylus and deployed using Node.js.

p
  a(href='https://github.com/evbogue/bitters') Github repository

h3 Using Bitters

p If you're using Bitters, add yourself with a 
  a(href='https://github.com/evbogue/bitters') pull request

a(href='http://gwenbell.com')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='45%', class='profile')

a(href='http://evbogue.com')
  img(src='http://evbogue.com/images/evbogue.jpg', width='45%', class='profile')
