
a(href='https://en.wikipedia.org/wiki/File:Angostura_aromatic_bitters_dD.jpg')
  img(src='/images/bitters.jpg', width='100%', class='profile')

h3 Bitters

p Bitters is a simple-as-possible Git-based website built with Express, Jade, and Stylus and deployed using Node.js.

p
  a(href='https://github.com/evbogue/bitters') Github